@media  (max-width:991px){
    #nav-bar{
        width: 100%;
        font-size: 30px;
        background: skyblue;
        height: 70px;
    }
    #nav-bar ul a{
        color: #730099;
    }
    .nav-left{
        margin-top: 10px ;
        padding-left:0px ;
        margin-left: 30px;
    }
    .nav-rigth{
        margin-top: 10px;
        padding-right: 35px;
        right: 50px;
    }
    .banner{       
        height: 200px;
        width: 100%;
    }
    .banner img{
        display: none;
    }
    .text-img{
        margin-top: -60px;
        margin-left: 20px;
        color: black;
    }
    .banner h1{
        font-size: 80px ;
        color: #333333;
    }
    .banner p{
        font-size: 20px;
        color: #888888;
    }
    #article{
        background-color: white;
    }
    #section{
        padding-top: 20px; 
        border-top: ridge 1.6px;
        border-color:  #ffffff;
        margin-left: 20px;
    }  
    #section h4{
        font-size: 80px;
        color: #333333;
    }
    #section h6{
        font-size: 20px;  
        color: #888888;
        font-weight: 12;
    }
    #box{
        display: block;
        padding-left: 10px;
        border-bottom-style: none;
            
    }
    .box-img{
        width: 100%;
        display:flex;
    }
    .box-img img{
        width: 100%;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .image{
        width: auto;
        height: auto;
    }
    .box-img{
        width: 50%;
        height: auto;
    }
    #item{
            
        display: block;
        background-color: white;
    }
    #item h3{
        font-size: 80px;
        padding-top: 30px
    }
    #item p{
        font-size: 20px;
    }
    #item a{
        text-decoration: underline;
        color: blue;
        font-size: 20px;
            
    }
}
